@page "/aboutPage"

<link href="/css/LogOutStyle.css" rel="stylesheet" />

    <h3>Om MoleTracker</h3>
    <hr />
    <p>
        Det er essentielt at holde øje med sine modermærker for tidligt at kunne detektere forandringer i dem.
        MoleTracker er designet til at hjælpe dig med at følge og monitorere dine modermærker over tid.
        Du har som patient mulighed for at kontakte din læge, såfremt du er bekymret for udviklingen af et eller flere modermærker.
    </p>

    <p>
        MoleTracker er en app, der fås til Android på GooglePlay og IOS på AppStore.
        Den tilhørende hjemmeside er designet til, at man nemmere kan sammenligne to modermærker.
        Yderligere det muligt for en privat læge at få tilsendt bekymrende modermærker efter aftale, så man hurtigt kan reagere på eventuelle forandringer.
    </p>
