@page "/collectionPage"
@using DataClasses.Domain

<link href="css/CSSStyles.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" /> @*EYE*@

@inject Collection CollectionInfo
@inject LocationOnBody Location

<div class="row mb-3">
    <div class="col">
        <input style="width: 50%; margin-left: 25%; font-size: 24pt" disabled="@true" type="text" placeholder="@CollectionInfo.CollectionName" class="@EditNameBool">
        <button style="border-radius: 28px;" class="@EditPencil" onclick="EditName"></button>
        <button style="float: right" class="oi oi-ellipses"></button>
    </div>
</div>



@code {
    public string EditPencil = "fa fa-pencil-square";
    public bool EditNameBool { get; set; }

    private void EditName()
    {
        EditNameBool = true;
    }
}
