@page "/CollectionPage"

@using BusinessLogicLayer
@using BusinessLogicLayer.BusinessLogicLayerInterfaces
@using DataClasses.Domain
@using System.Drawing
@using static System.IO.File
@using System.Diagnostics
@using System.IO

@inject IViewCollectionController ViewCollectionController
@inject NavigationManager NavManager;

<h3>CollectionPage</h3>
<div>
    <table>
        <tr>
            <th>@collection.CollectionName</th>
        </tr>
        @foreach (var item in PicDataList)
        {
            <tr @onclick="@((e) => ShowPicture(e, item.PictureID))">
                <td>
                    <img src="data:image;base64,@System.Convert.ToBase64String(@item.PictureData)" width="80" height="80" />
                   @* @item.PictureData*@
                </td>
            </tr>
        }
    </table>
</div>

@code {

    private CollectionDomain collection;
    private PatientDataDomain patientData;
    public string NameOfPatient { get; set; }
    public List<PictureDataDomain> PicDataList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        PictureDataDomain picture1 = new PictureDataDomain();

       var filePath = @"MoleOne.jpg";

        byte[] picByteArray = ReadAllBytes(filePath);

        picture1.PictureData = picByteArray;
        PicDataList = new List<PictureDataDomain>();
        PicDataList.Add( picture1);
        //collection = ViewCollectionController.SelectedCollection;


        collection = new CollectionDomain("Test collection");
        var PicInfoList = new List<PictureInfoDomain>();

        collection.PictureList = PicInfoList;

        //foreach (var pic in collection.PictureList)
        //{
        //    PicDataList.Add(ViewCollectionController.GetPictureData(pic));

        //}
    }

    private void ShowPicture(MouseEventArgs e, int pictureId)
    {

    }

}
