@page "/login"

@layout EmptyLayout

@inject NavigationManager NavManager

<h3>LoginPortal</h3>
<button @onclick="NavigateToPatientLogInPage"></button>

@code {

    private void NavigateToPatientLogInPage()
    {
        NavManager.NavigateTo("/patLogin");
    }
}
