@page "/login"
@using BusinessLogicLayer
@using BusinessLogicLayer.BusinessLogicLayerInterfaces

@inject NavigationManager NavManager
@inject ILogInController LogInController




<div class="wrapper fadeInDown" style="margin-top: 10%;">
    <div id="formContent">
        <h3>Login</h3>


            @*<DataAnnotationsValidator />
            <ValidationSummary />

            <InputText id="name" />
            <InputText id="pass" />*@

            <button style="margin-top: 20px; margin-bottom: 10px;" type="submit">Submit</button>
    </div>

</div>


@code {
}