@page "/login"
@using DataClasses.Domain

@layout EmptyLayout

@inject NavigationManager NavManager
@*@inject SessionInfoDomain SessionInfo*@

@*Forsøg af AK - som den ikke kan lide*@
@*@if (!SessionInfo.LoggedIn)
{
    NavManager.NavigateTo("/mainPage");
}*@

<link href="css/HomePageStyles.css" rel="stylesheet"/>
<link href="css/BackgroundColor.css" rel="stylesheet" />

<div >
    <div class="wrapper fadeInDown" style="margin-top: 10%">
        <div id="formContent">
            <h1>Vælg login</h1>
            <div>
                <button id="PatLogInButton" @onclick="NavigateToPatientLogInPage" style="        background-color: cornflowerblue;
                                                                                                                  color: white;
                                                                                                                  border-radius: 8px;
                                                                                                                  font-size: 20px;
                                                                                                                  margin-bottom: 1%;
                                                                                                                  margin-top: 5%;
                                                                                                                  padding: 3px 50px;
                                                                                                                  border-style: none;
                                                                                                              "
                        type="submit">
                    <i class="fa fa-user"></i>
                    Patient Login
                </button>
            </div>

            <div>
                <button id="MedLogInButton" @onclick="NavigateToMedLogInPage" style="    background-color: #fcd808;
                                                                                                                                                       color: white;
                                                                                                                                                       border-radius: 8px;
                                                                                                                                                       font-size: 20px;
                                                                                                                                                       margin-bottom: 5%;
                                                                                                                                                       margin-top: 5%;
                                                                                                                                                       padding: 3px 50px;
                                                                                                                                                       border-style: none;
                                                                                                                                                   "
                        type="submit">
                    <i class="fa fa-user-plus"></i>
                    Medical Login
                </button>
            </div>

        </div>

    </div>
</div>

@code {

    private void NavigateToPatientLogInPage()
    {
        //NavManager.NavigateTo("/patientLogin");
    }

    public void NavigateToMedLogInPage()
    {
    NavManager.NavigateTo("/MedLogIn");
    }
}