@page "/login"
@*@using LogicLayer*@

@inject NavigationManager NavManager
@*@inject ILoginManager login
@inject LoginData loginData
@inject sessionData SesData;*@



<div class="wrapper fadeInDown" style="margin-top: 10%;">
    <div id="formContent">
        <h3>Login</h3>


            @*<DataAnnotationsValidator />
            <ValidationSummary />

            <InputText id="name" />
            <InputText id="pass" />*@

            <button style="margin-top: 20px; margin-bottom: 10px;" type="submit">Submit</button>
    </div>

</div>


@code {
}