@page "/login"

@layout EmptyLayout

@inject NavigationManager NavManager

    <link href="CenterAreaStyle.css" rel="stylesheet" />


    <div class="wrapper fadeInDown">
        <div id="formContent">
            <h3>LoginPortal</h3>

            <button @onclick="NavigateToPatientLogInPage" style="background-color: cornflowerblue; border-radius: 8px; margin-top: 20px; margin-bottom: 10px" type="submit">
                Patient Login
            </button>
        </div>
    </div>
    @*<button style="margin-top: 20px; margin-bottom: 10px; background-color: greenyellow" type="submit">Log på</button>*@

    @code {

        private void NavigateToPatientLogInPage()
        {
            NavManager.NavigateTo("/patientLogin");
        }
    }
