@page "/mainPage"

@using DataClasses.Domain

@inject NavigationManager NavManager
@inject SessionInfo SessionInfo
@inject PatientInfo PatientInfo


<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" /> @*EYE*@

@if (!SessionInfo.LoggedIn)
{
    NavManager.NavigateTo("/mainPage");
}

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@*padding og sticky*@

<img src="@FrontOrBack" style="float: right; width: 212px; height: 477px;" onmousewheel="@MouseWheel" />
<button style="float:right" class="@Arrow" @onclick="TurnAroundModel"></button>
<button> </button>

@*636*1431 billedstørrelse*@



@code {
    public string FrontOrBack = "/Images/FemaleBackCrop.png";
    public string Arrow = "fa fa-refresh";
    public string TurnAround { get; set; }

    public void TurnAroundModel()
    {
        if (this.FrontOrBack == "/Images/FemaleBackCrop.png")
        {
            this.FrontOrBack = "/Images/FemaleFrontcrop.png";
        }
        else
        {
            this.FrontOrBack = "/Images/FemaleBackCrop.png";
        }
    }


    //Zoom forsøg - virker ikke helt med event
    //https://stackoverflow.com/questions/54222913/scrollable-image-stack-using-blazor-component/54227687

    int imgNumber = 0;
    string img => $"/Images/FemaleBackCrop {imgNumber}.png";

    public class WheelEventArgs : Microsoft.AspNetCore.Components.Web.MouseEventArgs{ public int DeltaY { get; }}



    Task MouseWheel(WheelEventArgs args)
    {
        imgNumber += Math.Sign(args.DeltaY);
        if (imgNumber == 43) imgNumber = 0;
        if (imgNumber == -1) imgNumber = 42;
        return Task.CompletedTask;
    }

}