@page "/MedicalLogin"
@using BusinessLogicLayer.BusinessLogicLayerInterfaces
@using BusinessLogicLayer


@inject NavigationManager NavManager
@inject ILogInController login
@inject LogInController login;




<div class="wrapper fadeInDown" style="margin-top: 10%;">
    <div id="formContent">
        <h3>Login</h3>


            <DataAnnotationsValidator />
            <ValidationSummary />

            <InputText id="name" />
            <InputText id="pass" />

            <button id="LoginButton" style="margin-top: 20px; margin-bottom: 10px;" type="submit">Submit</button>
    </div>

</div>


@code {
    
}