@page "/MedLogIn"
@using BusinessLogicLayer.BusinessLogicLayerInterfaces
@using BusinessLogicLayer
@using DataClasses.Domain
@using System.Diagnostics


@inject NavigationManager NavManager
@inject ILogInController LogInController
@*@inject LoginInfoDomain logInInfo*@
@inject SessionInfoDomain SesInfo;


@layout EmptyLayout

<link href="css/CSSStyles.css" rel="stylesheet" />

<div class="wrapper fadeInDown" style="margin-top: 10%; white-space: nowrap">
    <div id="formContent">

        <h1 style="padding: 20px 100px">Mole Tracker</h1>
        <h2 style="margin-top: 2px">Medical professional login</h2>

        <EditForm Model="@LogInInfo">

            <DataAnnotationsValidator />
            <ValidationSummary/>

            <div style="margin-left:0%"><b>Brugernavn</b></div>

            <div style="margin-bottom: 8px">
                <InputText id="Name" placeholder="Brugernavn" @bind-Value="LogInInfo.Username" style="border-radius: 5px" />
            </div>

            <div style="margin-left:0%"><b>Kodeord</b></div>
            <div>

                <InputText id="Password" @bind-Value="LogInInfo.Password" class="border-none flex-1" type="@(showPassword ? "text" : "password")" placeholder="Adgangskode" style="border-radius: 5px" />
                @*<button id="toggle" @onclick="ToggleShowPassword">
                    <svg viewBox="0 0 24 24"
                         style="fill: none; height: 24px; stroke: rgba(0, 0, 0, 0.4); stroke-linecap: round; stroke-linejoin: round; stroke-width: 1; width: 20px;">
                        <path d="M23.5,12c0,0-5.148,6.5-11.5,6.5S0.5,12,0.5,12S5.648,5.5,12,5.5S23.5,12,23.5,12z M12,8c2.209,0,4,1.791,4,4 s-1.791,4-4,4s-4-1.791-4-4S9.791,8,12,8z M12,10c1.105,0,2,0.895,2,2s-0.895,2-2,2s-2-0.895-2-2" />
                    </svg>
                </button>*@
                @*https://htmldom.dev/toggle-password-visibility/*@

            </div>

            <button @onclick="Login" style="background-color: greenyellow; border-radius: 8px; color: white; margin-top: 20px; margin-bottom: 10px;" type="submit">Log på</button>

        </EditForm>
        <div>
            <input type="checkbox" />
            <label>Husk mig</label>

        </div>
        @if (LoginFailed)
        {
            <div>
                <span style="margin: 100px; color: red;">
                    Login var ugyldigt. Prøv igen.
                </span>
            </div>
            @foreach (string VARIABLE in errors)
            {
                <div>
                    <span style="margin: 100px; color: red;">
                        @VARIABLE
                    </span>
                </div>
            }

        }
    </div>
   
</div>



@code {
    private List<string> errors = new List<string>();
    public LoginInfoDomain LogInInfo { get; set; }
    public bool LoginFailed { get; set; } = false;
    private int errorCounter = 0;
    private bool showPassword;
    public  ILogInController LoginControllerProp { get; set; }
    public  NavigationManager NavManagerProp { get; set; }



    protected override async Task OnInitializedAsync()
    {
        LoginControllerProp = LogInController;
        NavManagerProp = NavManager;
    }

    public void Login()
    {
        LogInInfo = new LoginInfoDomain();

        LoginInfoDomain loginData = new LoginInfoDomain()
        {
            Username = LogInInfo.Username,
            Password = LogInInfo.Password
        };

        if (LoginControllerProp.Login(loginData))
        {
            //SesInfo.LoggedIn = true;
            //SesInfo.UseID = 1;

            NavigateToPatientOverviewPage();
        }
        else
        {
            LoginFailed = true;

            errorCounter++;

            errors.Add("fejl nr: " + errorCounter);
        }
    }

    private void ToggleShowPassword()
    {
        showPassword = !showPassword;
    }

    public void NavigateToPatientOverviewPage()
    {
        NavManagerProp.NavigateTo("/PatientOverviewPage");
    }

}