@page "/MedicalLogin"
@using BusinessLogicLayer.BusinessLogicLayerInterfaces
@using BusinessLogicLayer
@using DTO.LoginDTO


@inject NavigationManager NavManager
@inject LogInController login
@inject LoginInfoDTO loginInfo;




<div class="wrapper fadeInDown" style="margin-top: 10%;">
    <div id="formContent">
        <h3>Login</h3>
        <EditForm Model="@login" OnValidSubmit="@HandleValidSubmit">

            <DataAnnotationsValidator />
            <ValidationSummary />

            <InputText id="name" @bind-Value="login.Username" />
            <InputText id="pass" @bind-Value="login.password" />

            <button style="margin-top: 20px; margin-bottom: 10px;" type="submit">Submit</button>
        </EditForm>
    </div>

</div>


@code {
    private List<string> errors = new List<string>();

    private bool loginFail = false;

    private void HandleValidSubmit()
    {

        if (login.login(loginData))
        {
            SesData.LoggedIn = true;
            SesData.UseID = 1;


            NavManager.NavigateTo("/");
        }
        else
        {
            loginFail = true;
            errors.Add("YOOOOOO");
        }
    }
}