@page "/PatientPage"
@using Microsoft.AspNetCore.Mvc.Diagnostics
@using DataClasses.Domain
@using System.Reflection.Metadata
@using System.Xml;
@using System.Xml.Linq
@using System.Xml.XPath
@using BusinessLogicLayer
@using BusinessLogicLayer.BusinessLogicLayerInterfaces

@inject ISelectPatient SelectPatientController
@inject IViewCollectionController ViewCollectionController
@inject PatientDataDomain PatientDataModel
@inject NavigationManager NavManager;


<h3>@patientInfo.Name</h3>
<div class="col">
<EditForm Model="@PatientDataModel">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <table>
        <tbody>
            <tr>
                <th>Modermærker</th>
            </tr>
            @foreach (var collection in collectionList)
            {
                <tr @onclick="@((e) => NavigateToCollectionPage(e, collection.CollectionID))" style="cursor: pointer">
                    <td>
                        @collection.CollectionName
                    </td>
                </tr>
            }
        </tbody>
    </table>
</EditForm>
</div>
<div class="col">
    <img src="~/css/Pictures/MaleFront.png" alt="Image not found" width="200" height="400" />
</div>

@code {

    private PatientInfoDomain patientInfo;
    public PatientDataDomain patientData { get; set; }
    public List<CollectionDomain> collectionList { get; set; }
    public string NameOfPatient { get; set; }
    public List<PictureDataDomain> PicDataList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        //Bare for ikke at smide exception
        patientData = new PatientDataDomain();
        collectionList = patientData.CollectionList;
        //patientData.CollectionList = new List<CollectionDomain>();

        patientInfo = SelectPatientController.SelectedPatient;

        NameOfPatient = patientInfo.Name;

        //patientData = SelectPatientController.GetPatientData(patientInfo);
    }

    private void NavigateToCollectionPage(MouseEventArgs e, object collectionId)
    {

        var selectedCollection = patientData.CollectionList.Where(x => x.CollectionID.Equals(collectionId)).ToList();

        ViewCollectionController.SelectedCollection = selectedCollection[0];

        NavManager.NavigateTo("/CollectionPage");

    }

}
