@page "/PatientOverviewPage"

@using DTO.LoginDTO

<h3>Samlinger</h3>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Samlingtag</th>
            </tr>
        </thead>
    </table>
</div>

@code {

}
