@page "/PatientPage"

@using BusinessLogicLayer
@using BusinessLogicLayer.BusinessLogicLayerInterfaces
@using DataClasses.Domain

@inject ISelectPatient SelectPatientController
@inject NavigationManager NavManager;

<h3>Samlinger</h3>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@NameOfPatient</th>
            </tr>
        </thead>
    </table>
</div>

@code {

    private PatientInfoDomain patientInfo;
    //private PatientDataDomain patientData;
    public string NameOfPatient { get; set; }

    protected override async Task OnInitializedAsync()
    {
        patientInfo = SelectPatientController.SelectedPatient;

        NameOfPatient = patientInfo.Name;

        //patientData = SelectPatientController.GetPatientData(patientInfo);
    }

}
