@page "/PatientPage"

@using BusinessLogicLayer
@using BusinessLogicLayer.BusinessLogicLayerInterfaces
@using DataClasses.Domain
@using System.Drawing

@inject ISelectPatient SelectPatientController
@inject IViewCollectionController ViewCollectionController
@inject NavigationManager NavManager;

<h3>@patientInfo.Name</h3>
<div>
    <table>
        <tr>
            <th>Modermærker</th>
        </tr>
        @foreach (var collection in patientData.CollectionList)
            {
                <tr @onclick="@((e) => NavigateToCollectionPage(e, collection.CollectionID))">
                    <td>
                        @collection.CollectionName
                    </td>
                </tr>
            }
    </table>
</div>

@code {

    private PatientInfoDomain patientInfo;
    private PatientDataDomain patientData;
    public string NameOfPatient { get; set; }
    public List<PictureDataDomain> PicDataList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        patientInfo = SelectPatientController.SelectedPatient;

        NameOfPatient = patientInfo.Name;

        //patientData = SelectPatientController.GetPatientData(patientInfo);
    }

    private void NavigateToCollectionPage(MouseEventArgs e, object collectionId)
    {

        var selectedCollection = patientData.CollectionList.Where(x => x.CollectionID.Equals(collectionId)).ToList();

        ViewCollectionController.SelectedCollection = selectedCollection[0];

        NavManager.NavigateTo("/CollectionPage");

    }

}
