@page "/PatientOverviewPage"
@using Microsoft.AspNetCore.Mvc.Diagnostics
@using DataClasses.LoginDTO

<h3>PatientOverviewPage</h3>

<div>
    <h2>Table under here plz</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Navn</th>
            <th>CPR-Nummer</th>
        </tr>
        </thead>
    </table>
</div>

@code {
    private List<PatientInfoDTO> patientInfo;

    protected override async Task OnInitializedAsync()
    {
        patientInfo = new List<PatientInfoDTO>();

        patientInfo.Add(new PatientInfoDTO("123456-7890", "Hans Hansen"));
    }

}
}
