@page "/PatientInformationPage"

@using BusinessLogicLayer
@using BusinessLogicLayer.BusinessLogicLayerInterfaces
@using DataClasses.Domain

@inject ISelectPatient SelectPatientController
@inject NavigationManager NavManager;

<h3>Patientoplysninger</h3>

@if (errorOccurred)
{
    @foreach (string error in patientInfoErrors)
    {
<div>
    <span  class="oi oi-warning" style="margin: 10px; font-size: 30px; color: red;">
        @error
    </span>
</div>
    }

}
<table id="patientInformationTable" class="table table-striped">
    <tbody>
    <tr>
        <td>
            Navn
        </td>
        <td>
            @patientInfo.Name
        </td>
    </tr>    
    <tr>
        <td>
            Fødselsdato
        </td>
        <td>
            @DateOfBirth
        </td>
    </tr>  
    <tr>
        <td>
            Køn
        </td>
        <td>
            @patientInfo.Gender
        </td>
    </tr>  
    <tr>
        <td>
            E-mail
        </td>
        <td>
            @patientInfo.Email
        </td>
    </tr>  
    <tr>
        <td>
            CPR-nummer
        </td>
        <td>
            @patientInfo.CPR
        </td>
    </tr>
    </tbody>
</table>

@code {

    private PatientInfoDomain patientInfo;
    private string DateOfBirth;
    private List<string> patientInfoErrors = new List<string>();
    private bool errorOccurred = false;
    //private string Gender;


    protected override async Task OnInitializedAsync()
    {
        patientInfo = SelectPatientController.SelectedPatient;

        var CPRArray = patientInfo.CPR.ToCharArray();

        string date = "";

        string month = "";

        string year = "";

        try
        {

            for (int i = 0; i < 2; i++)
            {
                date = date + CPRArray[i];
            }
            for (int i = 2; i < 4; i++)
            {
                month = month + CPRArray[i];
            }
            for (int i = 4; i < 6; i++)
            {
                year = year + CPRArray[i];
            }

            if (CPRArray[10] == '1' ||CPRArray[10] == '3' ||CPRArray[10] == '5' ||CPRArray[10] == '7' ||CPRArray[10] == '9')
            {
                patientInfo.Gender = "Mand";
            }
            else if (CPRArray[10] == '0' || CPRArray[10] == '2' || CPRArray[10] == '4' || CPRArray[10] == '6' || CPRArray[10] == '8')
            {
                patientInfo.Gender = "Kvinde";
            }


            month = GetMonthOfBirth(month);
            year = GetYearOfBirth(year);

            DateOfBirth = date + ". " + month + " " + year;

        }
        catch (Exception e)
        {
            patientInfoErrors.Add("En fejl opstod. Tjek om patientens CPR-nummer er korrekt");
            errorOccurred = true;
        }

    }

    private string GetYearOfBirth(string year)
    {
        int yearNo = Convert.ToInt16(year);

        var currentYear = DateTime.Now.Year.ToString();
        var currentYearArray = currentYear.ToCharArray();

        var currentYear2 = "";

        for (int i = 2; i < 4; i++)
        {
            currentYear2 = currentYear2 + currentYearArray[i];
        }

        int currentYearNo = Convert.ToInt16(currentYear2);

        if (yearNo > currentYearNo)
        {
            year = "19" + year;
        }
        else if (yearNo <= currentYearNo)
        {
            year = "20" + year;
        }
        return year;
    }

    private string GetMonthOfBirth(string month)
    {

        if (month == "01")
        {
            month = "januar";
        }
        else if (month == "02")
        {
            month = "februar";
        }
        else if (month == "03")
        {
            month = "marts";
        }
        else if (month == "04")
        {
            month = "april";
        }
        else if (month == "05")
        {
            month = "maj";
        }
        else if (month == "06")
        {
            month = "juni";
        }
        else if (month == "07")
        {
            month = "juli";
        }
        else if (month == "08")
        {
            month = "august";
        }
        else if (month == "09")
        {
            month = "september";
        }
        else if (month == "10")
        {
            month = "oktober";
        }
        else if (month == "11")
        {
            month = "november";
        }
        else if (month == "12")
        {
            month = "december";
        }

        return month;
    }

}
