@page "/patientLogin"

@using Models
@using LogicLayer

@inject LogInInfo loginInfo
@inject LogInController LogInController
@inject NavigationManager NavManager

@layout EmptyLayout

<link href="css/CenterAreaStyle.css" rel="stylesheet" />

<div class="wrapper fadeInDown" style="margin-top:10%">
    <div id="formContent">

        <h1>Mole Tracker</h1>
        <h2 style="margin-top:2px">Patient Login</h2>

        <EditForm Model="@loginInfo">

            <DataAnnotationsValidator />
            <ValidationSummary />


            <div style="margin-left:-22%"><b>CPR-nummer</b></div>

            <div style="margin-bottom: 8px">
                <InputText id="Name" placeholder="DDMMÅÅ-XXXX" @bind-Value="loginInfo.Username" style="border-radius: 5px" />
            </div>

            <div style="margin-left:-30%"><b>Kodeord</b></div>
            <div>
                <InputText id="Password" @bind-Value="loginInfo.Password" type="password" placeholder="Adgangskode" style="border-radius: 5px" />
            </div>

            <button @onclick="NavigateToMainPatientPage" style="background-color: greenyellow; border-radius: 8px; color: white; margin-top: 20px; margin-bottom: 10px;" type="submit">Log på</button>

        </EditForm>

    </div>
</div>




@code {
    private bool LoginFailed = false;

    private void NavigateToMainPatientPage()
    {
        //if (LogInController.HandleLogin(loginInfo))
        //{
        NavManager.NavigateTo("/");
        //}
}

}
