@using DataClasses.Domain
@inherits LayoutComponentBase
@inject NavigationManager NavManager
@inject SessionInfoDomain SesInfo;

<div class="main">
    <div class="content px-4">
        @Body

    </div>
</div>
@code
{
    //protected override void OnAfterRender(bool firstRender)
    //{
    //    if (!SesInfo.LoggedIn)
    //    {
    //        NavManager.NavigateTo("/login");
    //    }
    //}
}