@using DataClasses.Domain
@using BlazorPro.BlazorSize
@inherits LayoutComponentBase
@inject NavigationManager NavManager
@inject SessionInfo SessionInfo
@*<div class="page">*@

    <div class="sidebar">
        <NavMenu />

    </div>

    <div class="main">

        

        <div class="content px-4">
            @Body
        </div>
    </div>

@*</div>*@

@code{

    protected override void OnAfterRender(bool firstRender)
    {
        if (!SessionInfo.LoggedIn)
        {
            NavManager.NavigateTo("/login");
        }
    }

}