@using DataClasses.Domain
@inherits LayoutComponentBase
@inject NavigationManager NavManager
@inject SessionInfo SessionInfo

<div class="page">
        <div class="sidebar">
            <NavMenu />

        </div>
    
        <div class="main">
            <div class="top-row px-4" style="float:right">
                @* *@
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>

            <div class="content px-4">
                @**@
                @Body
            </div>
        </div>
    </div>

    @code{

        protected override void OnAfterRender(bool firstRender)
        {
            if (!SessionInfo.LoggedIn)
            {
                NavManager.NavigateTo("/login");
            }
        }

    }